<a href="https://colab.research.google.com/github/Tejas132005/Numpy/blob/main/practical_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a 3x3 NumPy array with random integers between 1 and 100. Then, interchange its rows and columns.
# Ans:
import numpy as np
a = np.random.randint(1,100,(3,3))
a

array([[52,  7, 77],
       [42, 13, 21],
       [70, 57, 68]])

In [ ]:
a.T # interchange rows and column of a

array([[52, 42, 70],
       [ 7, 13, 57],
       [77, 21, 68]])

In [ ]:
# 2. Generate a 1D NumPy array with 10 elements. Reshape it into a 2x5 array, then into a 5x2 array.
# Ans:
import numpy as np
a = np.arange(1,11)
a.reshape(2,5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [ ]:
# 3. Create a 4x4 NumPy array with random float values. Add a border of zeros around it, resulting in a 6x6 array.
# Ans:
import numpy as np
a = np.empty((4,4))
np.pad(a, pad_width = 1, mode = 'constant', constant_values = 0)

array([[0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 4.69528071e-310, 0.00000000e+000,
        2.41907520e-312, 2.37663529e-312, 0.00000000e+000],
       [0.00000000e+000, 2.22809558e-312, 2.46151512e-312,
        6.79038654e-313, 2.35541533e-312, 0.00000000e+000],
       [0.00000000e+000, 2.46151512e-312, 6.79038654e-313,
        2.35541533e-312, 6.79038654e-313, 0.00000000e+000],
       [0.00000000e+000, 2.14321575e-312, 2.22809558e-312,
        2.14321575e-312, 9.76118064e-313, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000]])

In [ ]:
# 4. Using NumPy, create an array of integers from 10 to 60 with a step of 5.
# Ans:
np.arange(10,60,5)

array([10, 15, 20, 25, 30, 35, 40, 45, 50, 55])

In [ ]:
# 5. Create a NumPy array of strings ['python', 'numpy', 'pandas']. Apply different case transformations (uppercase, lowercase, title case, etc.)
#     to each element.
# Ans:
import numpy as np
l = ['python', 'numpy', 'pandas']
a = np.array(l)
np.char.upper(l)

array(['PYTHON', 'NUMPY', 'PANDAS'], dtype='<U6')

In [ ]:
np.char.lower(l)

array(['python', 'numpy', 'pandas'], dtype='<U6')

In [ ]:
np.char.capitalize(a)

array(['Python', 'Numpy', 'Pandas'], dtype='<U6')

In [ ]:
# 6. Generate a NumPy array of words. Insert a space between each character of every word in the array.
# Ans:
import numpy as np
l = ['Hello', 'invigilator','I', 'like','You']
a1 = np.array(l)
np.char.join(" ",a)

array(['p y t h o n', 'n u m p y', 'p a n d a s'], dtype='<U11')

In [ ]:
# 7. Create two 2D NumPy arrays and perform element-wise addition, subtraction, multiplication, and division.
# Ans:
arr1 = np.random.randint(1,10, (3,3))
arr2 = np.random.randint(2,12, (3,3))
arr1,arr2

(array([[6, 3, 9],
        [3, 1, 5],
        [6, 6, 9]]),
 array([[9, 4, 6],
        [3, 8, 5],
        [6, 3, 7]]))

In [ ]:
arr1+arr2

array([[15,  7, 15],
       [ 6,  9, 10],
       [12,  9, 16]])

In [ ]:
arr1-arr2

array([[-3, -1,  3],
       [ 0, -7,  0],
       [ 0,  3,  2]])

In [ ]:
arr1*arr2

array([[54, 12, 54],
       [ 9,  8, 25],
       [36, 18, 63]])

In [ ]:
arr1/arr2

array([[0.66666667, 0.75      , 1.5       ],
       [1.        , 0.125     , 1.        ],
       [1.        , 2.        , 1.28571429]])

In [ ]:
# 8. Use NumPy to create a 5x5 identity matrix, then extract its diagonal elements.
# Ans:
import numpy as np
a2 = np.identity(5, dtype =int)
np.diag(a2)

array([1, 1, 1, 1, 1])

In [ ]:
# 9. Generate a NumPy array of 100 random integers between 0 and 1000. Find and display all prime numbers in this array.
# Ans:
import numpy as np
import math
a = np.random.randint(1,1000,(1,100))
a

array([[517, 160, 193, 590, 303,  13, 898, 882, 837, 814, 319, 622, 631,
        109,  13, 604, 768, 607, 610, 960, 325, 904, 897, 353, 868, 368,
        989, 132, 343, 573,  89,  99, 228, 557,   8, 828, 331, 646, 399,
        720, 690, 465, 130, 326,  90, 388, 558,  91, 328, 336, 231, 432,
        315, 991, 833, 647, 967,  97, 429,  77, 866, 244, 434, 185, 963,
        597, 904, 790, 557, 447, 317, 347, 531, 456, 604,  80, 927,  52,
        299, 597, 894, 945, 565, 417, 757, 170, 151, 144, 349,  50, 999,
        379, 338, 462, 517, 202, 467, 111,  87,  26]])

In [ ]:
def is_prime(n):
    if n % 2 == 0 and n > 2:
        return False
    return all(n % i for i in range(3, int(math.sqrt(n)) + 1, 2))
f = np.vectorize(is_prime)
f1 = f(a)
primes = np.extract(f1, a)
primes

array([193,  13, 631, 109,  13, 607, 353,  89, 557, 331, 991, 647, 967,
        97, 557, 317, 347, 757, 151, 349, 379, 467])

In [ ]:
# 10. Create a NumPy array representing daily temperatures for a month. Calculate and display the weekly averages.
# Ans:
a = np.random.randint(22,28,(1,30))
a

array([[25, 25, 24, 22, 27, 25, 23, 23, 24, 23, 24, 25, 25, 23, 25, 26,
        26, 24, 24, 26, 27, 24, 25, 27, 25, 25, 24, 25, 24, 24]])

In [ ]:
a1 = a.reshape(5,6)

array([[25, 25, 24, 22, 27, 25],
       [23, 23, 24, 23, 24, 25],
       [25, 23, 25, 26, 26, 24],
       [24, 26, 27, 24, 25, 27],
       [25, 25, 24, 25, 24, 24]])

In [ ]:
# week1
l1 = [25,25,24,22,27,25]
sum(l1)/len(l1)

24.666666666666668

In [ ]:
# week2
l2 = [23, 23, 24, 23, 24, 25]
sum(l2)/len(l2)

23.666666666666668

In [ ]:
# week3
l3 = [25, 23, 25, 26, 26, 24]
sum(l3)/len(l3)

24.833333333333332

In [ ]:
# week4
l4 = [24, 26, 27, 24, 25, 27]
sum(l4)/len(l4)

25.5

In [ ]:
# week5
l5 = [25, 25, 24, 25, 24, 24]
sum(l5)/len(l5)

24.5